.all_Card {
	width: 327px;
	height: 640px;
	border-radius: 8px;
	font-size: 25px;
	box-shadow: 0 0 10px gray;
	padding-left: 25px;
}
.get {
	width: 293px;
	height: 51px;
	border-radius: 10px;
	background-color: black;
	color: #2ee2b7;
}
